@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: theme("colors.bg.200");
}

.dark body {
    background: theme("colors.bg.dark.100");
}

html {
    padding-right: 0 !important;
}